<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftStudy2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F436561C1C0D73B900775EF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F43656301C0D73BA00775EF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F436563B1C0D73BA00775EF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
